/config/gesture.fd
/config/launcher.fd
/config/path.fd
/config/register.fd
/config/timetable.fd
/config/config.fd
/config/timer.fd
/config/treemenu.fd
/config/remotedesktop.fd
/CreateNew/*
/screenshot/*
IDM.ini
nativelog.txt
